/*######Defaults####*/

nav, header, footer {
    display: block;
}
body{
    line-hight: 1;
    margin: 0;
}

label {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

button {
    
    font-size: 25px;
    background-color: #0069ff;
    padding: 10px 50px;
    border-radius: 7px;
    font-weight: 700px;
    display: block;
    text-align: center;
    margin: 5px;
    
}
button.learn {
    display: block;
    margin:auto;
}

article p{
    font-size: 30px;
    padding: 30px;
}

div.himmu img{
    margin-left: 50%;
    box-shadow: -2px -2px 5px 2px;
    margin:100px;
    
        
    
}
.container {
    width: 100%;
    margin: auto;
    padding-top: 20%;
    padding-bottom: 20%;
    
}


.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
    box-sizing: border-box;
}

/*##### nav bar ###*/
nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background: linear-gradient(black, darkcyan);
    overflow: hidden;
    margin: 0;
    padding: 0;
    
}

 ul.topnav li{
    list-style: none;
     float: left;
     
     
}
ul.topnav li.topnav-right {
    float: right;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color : #666;
}

ul.topnav li a:hover {
    background-color:darkcyan;
    color: black;
}

ul.topnav li.dropdown {
    display: none;
    
    
}


/* #### custom style ###*/

#section-1-gradient {
    
    background-image:url("https://nearmetrade.com/local/public/vendor/267b1d5ddf0cfec90cfbf2a44e851bc8.png");
    background-repeat: no-repeat;
    
    background-size:cover;
    
    
        }

/*
#section-1-gradient {
background: red;
background: -webkit-linear-gradient(red, yellow);
background: -o-linear-gradient(red, yellow);
background: -moz-linear-gradient(red, yellow);
background: linear-gradient(red,yellow);

}
*/

div.box {
    text-align: center;
    background-color: white;
    box-shadow: 11px 10px 12px 1px rgba(0, 0, 0, .15);
    margin: 10px;
    padding: 36px 24px 40px 24px;
    border-radius: 7px;
    
}
div.icon img{
    margin:0;
    width: 100%;
    
    
    
}

div.leftside-col {
    margin-left: 10%;
}

div.video {
    margin-left:4%;
    padding: 20px;
    width: 100%;
    margin: 0;
    overflow:hidden;
        
    
}

h1.large {
    color: white;
    font-size: 56px;
    margin: 0;
    line-height: 70px;
    width: 100%;
    
    
}
h1.section2header {
    color: black;
    font-size: 50px;
    text-align: center;
}

input[type="text"] {
    font-size: 20px;
    width: 300px;
    height: 30px;
    min-width: 100px;
    padding: 5px;
    border-radius: 20px;
    
    
}

div.figure {
    font-size: 100px;
    display
}

/* ###### Mobile ### */
@media screen and (max-width: 680px){
    ul.topnav li:not(:nth-child(1)){
        display: none;
    }
    ul.topnav li.dropdown{
        display: block;
        float: right;
    }
    
    ul.topnav.responsive li.dropdown{
        position: absolute;
        top: 0;
        right: 0;
    }
    
    ul.topnav.responsive {
        position: relative;
    }
    
    ul.topnav.responsive li{
        display: inline;
        float: none;
    }
    ul.topnav.responsive li a{
        display: block;
        text-align: left;
    }
    .col-7, .col-6, .col-5, .col-4 {
        width: 100%;
        margin: 0;
    }
    
    div.mobilestack {
        width: 50%;
        display: block;
    }
    
    input[type="text"] {
        width: 250;
    }
    
}

footer.footsy {
    background: linear-gradient(black, darkcyan);
    padding-left: 10%;
    
}

footer.footsy h1 {
    color: white;
    font-size: 35px;
}

footer.footsy ul {
    list-style:none;
    text-align: left;
    padding-left: 0;
    
    font-size: 20px;

}

footer.footsy ul li {
    line-height: 1.5;
}
    










